<div class="page-header">
  <h3>Cycle Time #<%= @cycle_time.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Scenario</dt>
      <dd><%= @cycle_time.scenario %></dd>

      <dt>Ds40 ct</dt>
      <dd><%= @cycle_time.ds40_ct_id %></dd>

      <dt>Conv ct</dt>
      <dd><%= @cycle_time.conv_ct_id %></dd>

      <dt>Ds53 ct</dt>
      <dd><%= @cycle_time.ds53_ct_id %></dd>

      <dt>User</dt>
      <dd><%= @cycle_time.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cycle_times" class="btn btn-primary">
        Back
      </a>
      <a href="/cycle_times/<%= @cycle_time.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cycle_time/<%= @cycle_time.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Cycle time has many forecasts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Forecasts
      </li>

      <% @cycle_time.forecasts.each do |forecast| %>
        <li class="list-group-item">
          <a href="/forecasts/<%= forecast.id %>">
            <%= forecast.ds40_growth %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/forecasts/<%= forecast.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/forecasts/<%= forecast.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_forecast/<%= forecast.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
