<div class="page-header">
  <h1>
    Seasonalities
    <a href="/seasonalities/new" class="btn btn-lg btn-success">New Seasonality</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "seasonalities_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :scenario_cont, "Scenario contains" %>
    <%= f.text_field :scenario_cont, :class => "form-control", :placeholder => "Scenario contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :user_email_cont, "User email contains" %>
      <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
    </div>

<div class="form-group">
  <%= f.label :jan, "Ds40Sea Jan" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :ds40_seas_jan_gteq, :class => "form-control", :placeholder => "Ds40Sea Jan greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :ds40_seas_jan_lteq, :class => "form-control", :placeholder => "Ds40Sea Jan less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :jan, "Ds53Sea Jan" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :ds53_seas_jan_gteq, :class => "form-control", :placeholder => "Ds53Sea Jan greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :ds53_seas_jan_lteq, :class => "form-control", :placeholder => "Ds53Sea Jan less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :jan, "ConvSea Jan" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :conv_seas_jan_gteq, :class => "form-control", :placeholder => "ConvSea Jan greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :conv_seas_jan_lteq, :class => "form-control", :placeholder => "ConvSea Jan less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :ds40_growth, "Forecast Ds40 growth" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :forecasts_ds40_growth_gteq, :class => "form-control", :placeholder => "Forecast Ds40 growth greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :forecasts_ds40_growth_lteq, :class => "form-control", :placeholder => "Forecast Ds40 growth less than or equal to" %>
    </div>
  </div>
</div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/seasonalities" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#seasonalities_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Scenario</th>
        <th>Ds40 seas</th>
        <th>Ds53 seas</th>
        <th>Conv seas</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @seasonalities.each do |seasonality| %>
      <tr>
        <td><%= seasonality.scenario %></td>
        <td>
          <% if seasonality.ds40_seas.present? %>
            <a href="/ds40_seas/<%= seasonality.ds40_seas.id %>">
              <%= seasonality.ds40_seas.jan %>
            </a>
          <% end %>
        </td>
        <td>
          <% if seasonality.ds53_seas.present? %>
            <a href="/ds53_seas/<%= seasonality.ds53_seas.id %>">
              <%= seasonality.ds53_seas.jan %>
            </a>
          <% end %>
        </td>
        <td>
          <% if seasonality.conv_seas.present? %>
            <a href="/conv_seas/<%= seasonality.conv_seas.id %>">
              <%= seasonality.conv_seas.jan %>
            </a>
          <% end %>
        </td>
        <td>
          <% if seasonality.user.present? %>
            <a href="/users/<%= seasonality.user.id %>">
              <%= seasonality.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/seasonalities/<%= seasonality.id %>" class="btn btn-primary">Show</a>
          <a href="/seasonalities/<%= seasonality.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_seasonality/<%= seasonality.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @seasonalities, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
