<div class="page-header">
  <h1>
    Ds53 seas
    <a href="/ds53_seas/new" class="btn btn-lg btn-success">New Ds53 sea</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Jan</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Apr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Aug</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dec</th>
        <th>Name</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @ds53_seas.each do |ds53_sea| %>
      <tr>
        <td><%= ds53_sea.jan %></td>
        <td><%= ds53_sea.feb %></td>
        <td><%= ds53_sea.mar %></td>
        <td><%= ds53_sea.apr %></td>
        <td><%= ds53_sea.may %></td>
        <td><%= ds53_sea.jun %></td>
        <td><%= ds53_sea.jul %></td>
        <td><%= ds53_sea.aug %></td>
        <td><%= ds53_sea.sep %></td>
        <td><%= ds53_sea.oct %></td>
        <td><%= ds53_sea.nov %></td>
        <td><%= ds53_sea.dec %></td>
        <td><%= ds53_sea.name %></td>
        <td><%= ds53_sea.user_id %></td>
        <td>
          <a href="/ds53_seas/<%= ds53_sea.id %>" class="btn btn-primary">Show</a>
          <a href="/ds53_seas/<%= ds53_sea.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_ds53_sea/<%= ds53_sea.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
