<div class="page-header">
  <h3>Ds40 Sea #<%= @ds40_sea.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Jan</dt>
      <dd><%= @ds40_sea.jan %></dd>

      <dt>Feb</dt>
      <dd><%= @ds40_sea.feb %></dd>

      <dt>Mar</dt>
      <dd><%= @ds40_sea.mar %></dd>

      <dt>Apr</dt>
      <dd><%= @ds40_sea.apr %></dd>

      <dt>May</dt>
      <dd><%= @ds40_sea.may %></dd>

      <dt>Jun</dt>
      <dd><%= @ds40_sea.jun %></dd>

      <dt>Jul</dt>
      <dd><%= @ds40_sea.jul %></dd>

      <dt>Aug</dt>
      <dd><%= @ds40_sea.aug %></dd>

      <dt>Sep</dt>
      <dd><%= @ds40_sea.sep %></dd>

      <dt>Oct</dt>
      <dd><%= @ds40_sea.oct %></dd>

      <dt>Nov</dt>
      <dd><%= @ds40_sea.nov %></dd>

      <dt>Dec</dt>
      <dd><%= @ds40_sea.dec %></dd>

      <dt>Name</dt>
      <dd><%= @ds40_sea.name %></dd>

      <dt>User</dt>
      <dd>
        <% if @ds40_sea.user.present? %>
          <a href="/users/<%= @ds40_sea.user_id %>">
            <%= @ds40_sea.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ds40_seas" class="btn btn-primary">
        Back
      </a>
      <a href="/ds40_seas/<%= @ds40_sea.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_ds40_sea/<%= @ds40_sea.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Ds40 sea has many seasonalities -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Seasonalities
      </li>

      <% @ds40_sea.seasonalities.each do |seasonality| %>
        <li class="list-group-item">
          <a href="/seasonalities/<%= seasonality.id %>">
            <%= seasonality.scenario %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/seasonalities/<%= seasonality.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/seasonalities/<%= seasonality.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_seasonality/<%= seasonality.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_seasonality" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for scenario -->
      <div class="form-group">
        <label for="scenario" class="control-label">
          Scenario
        </label>

        <input type="text" id="scenario" name="scenario" placeholder="Scenario" class="form-control" value="">
      </div>

      <!-- Label and input for ds40_seas_id -->
      <div class="form-group">
        <label for="ds40_seas_id" class="control-label">
          Ds40 seas
        </label>

        <%= select_tag(:ds40_seas_id, options_from_collection_for_select(Ds40Sea.all, :id, :jan), :class => "form-control") %>
      </div>

      <!-- Label and input for ds53_seas_id -->
      <div class="form-group">
        <label for="ds53_seas_id" class="control-label">
          Ds53 seas
        </label>

        <%= select_tag(:ds53_seas_id, options_from_collection_for_select(Ds53Sea.all, :id, :jan), :class => "form-control") %>
      </div>

      <!-- Label and input for conv_seas_id -->
      <div class="form-group">
        <label for="conv_seas_id" class="control-label">
          Conv seas
        </label>

        <%= select_tag(:conv_seas_id, options_from_collection_for_select(ConvSea.all, :id, :jan), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Seasonality
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
